
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=VT323&display=swap');

body {
    font-family: 'Poppins', sans-serif; /* Mais limpo para leitura profissional */
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar e Logo */
.navbar-brand {
    font-family: 'VT323', monospace;
    font-size: 1.8rem;
}

/* Imagem de Perfil */
.profile-img {
   width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #198754;
    object-position: center 29%;
}

/* Hero Section */
.hero-section {
    min-height: 90vh;
    padding-top: 60px;
}

/* Cards de Habilidades */
.skill-card {
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    border-bottom: 3px solid #198754 !important;
}

/* Cards de Projetos */
.project-card {
    transition: all 0.3s;
}


.project-card img {
    height: 160px;
    object-fit: contain; 
    background-color: #2b3035; 
    padding: 10px; 
}

.project-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.border-dashed {
    border: 2px dashed #6c757d;
    background: transparent;
}

/* Scrollbar Personalizada */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 5px;
}


[data-bs-theme="dark"] .bg-body-tertiary {
    background-color: #2b3035 !important;
}


h2 span.text-success {
    text-shadow: 0 0 10px rgba(25, 135, 84, 0.3);
}
/* Efeito de levitação no botão */
.hover-lift {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(25, 135, 84, 0.4); /* Sombra verde */
}

.project-card .display-4 {
    transition: color 0.3s ease;
}

.project-card:hover .display-4 {
    color: #ffffff !important; 
}


.project-card:hover i {
    color: #fff !important;
    filter: drop-shadow(0 0 10px rgba(25, 135, 84, 0.8));
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Ajuste para o preview do currículo */
.cv-preview {
    transition: transform 0.4s ease;
    border: 1px solid rgba(25, 135, 84, 0.2);
}

.cv-preview:hover {
    transform: scale(1.02);
}

.project-card .card-body > i {
    display: block;
    height: 80px;
    line-height: 80px;
}

/* Animação suave ao filtrar */
.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Ajuste no grupo de botões para ficarem bonitos no tema dark */
.btn-group .btn {
    border-width: 2px;
    font-weight: 600;
}
